{% extends 'base.html.twig' %}

{% block pagecontainer %}
    <!-- Page container -->
    <div class="page-container">
        {% block mainmenu %}
            <div class="sidebar collapse">
                <div class="sidebar-content">
                    <div class="user-menu dropdown">
                        <div class="header-nav-left">
                            <a href=""><img src="{{ asset('assets/images/logo-side-menu.png') }}" alt=""></a>
                        </div>
                    </div>
                    <!-- Main navigation -->
                    <ul class="navigation">
                        <li><a href="{{ path('url_lexus_clients_index') }}" {{ active_class('client') }}>Clients</a></li>
                        <li><a href="{{ path('url_lexus_subscription_index') }}" {{ active_class('subscriptions') }}>Subscriptions</a></li>
                        <li><a href="{{ path('url_lexus_subscription_archive') }}" {{ active_class('subscriptions') }}>Subscriptions archive</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('users') }}" {{ active_class('users') }}>Users</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endblock %}
        <!-- Page content -->
        <div class="page-content">
            <!-- Page tabs -->
            {% block body %}{% endblock %}
            <!-- /page tabs -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
{% endblock %}