{% extends "AppBundle::layout.html.twig" %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% form_theme edit_form_password 'bootstrap_3_layout.html.twig' %}
{% block body %}


    <div class="page-header">
        <div class="page-title">
            <h3>
                {% trans %}Edit User{% endtrans %}
                <small>{% trans %}Edit User{% endtrans %}</small>
            </h3>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">
                {% trans %}Edit User{% endtrans %}
            </h6>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% trans %}Edit User{% endtrans %}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="jumbotron" style="padding:20px">
                                        <div class="container">
                                            {% if user.picture %}
                                                <img src="/uploads/{{ user.picture }}" class="img-responsive" alt="">
                                            {% else %}
                                                <img src="/uploads/avatar.png" class="img-responsive" alt="">
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-6">

                                    {{ form_start(edit_form) }}
                                        {{ form_errors(edit_form) }}
                                        {{ form_widget(edit_form) }}
                                    {{ form_end(edit_form) }}

                                </div>
                                <div class="col-sm-4">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">{% trans %}Edit user password{% endtrans %}</div>
                                            <div class="panel-body">
                                                {{ form_start(edit_form_password) }}
                                                    {{ form_errors(edit_form_password) }}
                                                    {{ form_widget(edit_form_password) }}
                                                {{ form_end(edit_form_password) }}
                                            </div>

                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">{% trans %}Edit user role{% endtrans %}</div>
                                            <div class="panel-body">
                                                {{ form_start(edit_form_role) }}
                                                    {{ form_errors(edit_form_role) }}
                                                    {{ form_widget(edit_form_role) }}
                                                {{ form_end(edit_form_role) }}
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <a href="{{ path('users') }}" class="btn btn-default">
                                {% trans %}Back to the list{% endtrans %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
