{% extends "AppBundle::layout.html.twig" %}

{% block body %}


<div class="page-header">
    <div class="page-title">
        <h3>
            {% trans %}Users list{% endtrans %}
            <small>{% trans %}Users list{% endtrans %}</small>
        </h3>
    </div>
    <div class="range">
        <a href="{{ path('users_new') }}" class="btn btn-success btn-xs pull-right">
            <i class="fa fa-plus"></i>{% trans %}New User{% endtrans %}
        </a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h6 class="panel-title">
            {% trans %}Users list{% endtrans %}
        </h6>
    </div>
    <div class="panel-body">
        <div class="datatable">





    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Phone{% endtrans %}</th>
                <th>{% trans %}Date Create{% endtrans %}</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_edit', { 'id': user.id }) }}">{{ user }}</a></td>
                
                <td>{{ user.phone }}</td>
                <td>{{ user.dateCreate|date('d/m/Y') }}</td>
                
                <td class="text-right">
                    <a href="{{ path('users_edit', { 'id': user.id }) }}" class="btn btn-success btn-sm" >
                        {% trans %}Edit{% endtrans %}</a>
                    <a href="{{ path('users_delete', { 'id': user.id }) }}" class="btn btn-danger btn-sm" >
                        {% trans %}Delete{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        









                    </div>
                </div>

            </div>

    
    {% endblock %}
