{% extends "AppBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}


	<div class="page-header">
		<div class="page-title">
			<h3>
                {% trans %}Add User{% endtrans %}
				<small>{% trans %}Add User{% endtrans %}</small>
			</h3>
		</div>

	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title">
                {% trans %}Add User{% endtrans %}
			</h6>
		</div>
		<div class="panel-body">


			<div class="row">

				<div class="col-xs-12">

					<div class="panel panel-default">
						<div class="panel-heading">
                            {% trans %}Add User{% endtrans %}
						</div>
						<div class="panel-body">
							<div class="row">

								<div class="col-sm-6">

									{{ form_start(form) }}
									{{ form_errors(form) }}
									{{ form_widget(form) }}
									{{ form_end(form) }}

								</div>
							</div>
						</div>

						<div class="panel-footer">
							<a href="{{ path('users') }}" class="btn btn-default">
                                {% trans %}Back to the list{% endtrans %}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
